<!--
 * @Author: 张培培
 * @Github: https: //github.com/ZiMingDaYou
 * @Date: 2019-01-15 14:47:58
 * @LastEditors: 张培培
 * @LastEditTime: 2019-01-19 15:45:31
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%=require('html-loader!./layout/head-common.html') %>
    <title>index</title>
</head>
<body>
    <%=require('html-loader!./layout/nav.html') %>
    <%=require('html-loader!./layout/header.html') %>
    <div class="page-wrap w">
    <%=require('html-loader!./layout/nav-side.html') %>
        <div class="content with-nav">test</div>
    </div>
    <%=require('html-loader!./layout/footer.html') %>  
</body>
</html>      