/*
 * @Author: 张培培
 * @Github: https: //github.com/ZiMingDaYou
 * @Date: 2019-01-16 22:52:11
 * @LastEditors: 张培培
 * @LastEditTime: 2019-01-25 22:28:54
 */
 /*css reset*/
 *{
     margin:0;
     padding:0;
 }
body{
    background: #f1f1f1;
    font:12px/1.5 tahoma, arial, Microsoft YaHei;
}
li{
    list-style: none;
}
img{
    display: block;
    border:none;
}
label{
    cursor: pointer;
}
input[type='checkbox']{
    cursor: pointer;
}
/*定宽布局*/
.w{
    width: 1080px;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
.large .w{
    width: 1600px;
}
/*全局通用样式*/
.hide{
    display: none;
}
/*超级链接样式*/
.link{
    color: #999;
    cursor: pointer;
    text-decoration: none;
}
.link:hover{
    color: #0099ff;
}
.link-text{
    color:#999;
    text-decoration: none;
}

/*btn*/
.btn{
    display:inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border:none;
    background: #0099ff;
    font-size: 17px;
    font-weight: bold;
    color:#fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-mini{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 10px;
}
/*loading*/
.loading{
    margin: 10px auto;
    width: 225px;
    height: 16px;
    display: block;
    background: url("../../image/icon/loading.gif") no-repeat;
}
